# Ignore IDE, & AI Directories
/.cursor
/.idea
/.junie
/.phpstorm.meta.php
/.run
/.vscode

# Ignore Local, Build, Test and Vendor Directories
/.local
/build
/public/local
/public/phpunit
/vendor
*.terraform

# Ignore environment files, except for the default distribution file
packages/template/.env
.env
.env.*
*.private.env.json
!.env.dist

# Ignore boilerplate and development tooling files
docker-compose.override.yaml
docker-compose.override.yml
phpstan-baseline.*.neon
phpstan-baseline.*.php
phpstan-baseline.neon
phpstan-baseline.php
phpstan.neon
phpunit.xml

# Ignore INI Files
*.ini
!php-development.ini
!php-production.ini

# Handle Monorepo and Package Specific Files
/packages/*/composer.lock
/packages/*/.local
/packages/*/build
/packages/*/vendor
/packages/framework/storage
